In [18]:
import numpy as np
import pandas as pd

In [19]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

**Pandas Series Oluşturma**

In [20]:
pd.Series(my_list) # list kullanarak Pandas Series oluşturma

0    10
1    20
2    30
dtype: int64

In [21]:
pd.Series([21,48,11,27,42,33]) # liste kullanarak Pandas Series oluşturma. List' i direk fonksiyon içinede yazabiliriz.

0    21
1    48
2    11
3    27
4    42
5    33
dtype: int64

In [22]:
pd.Series(data = arr, index = labels) # numpy array kullanarak Pandas series oluşturma

a    10
b    20
c    30
dtype: int64

In [23]:
d

{'a': 10, 'b': 20, 'c': 30}

In [24]:
pd.Series(d) # Dictionaries kullanarak Pandas series oluşturma

a    10
b    20
c    30
dtype: int64

In [25]:
x = (1,2,3,4,5,8,11,25) # Tuple kullanarak Pandas series oluşturma
pd.Series(x)

0     1
1     2
2     3
3     4
4     5
5     8
6    11
7    25
dtype: int64

In [26]:
pd.Series(data=x, index = range(len(x))) # Pandas index'lerini verimizin sayısına göre yeniden oluşturma

0     1
1     2
2     3
3     4
4     5
5     8
6    11
7    25
dtype: int64

In [27]:
pd.Series(data = "tom") # veri ismini elle yazarak p.Series oluşturma

0    tom
dtype: object

In [28]:
pd.Series(data = "mu kim", index =range(3)) # veri ismini elle yazarak p.Series oluşturma

0    mu kim
1    mu kim
2    mu kim
dtype: object

In [29]:
ser = pd.Series([set, list, dict]) # Pandas series içerisinde fonkisyonda tutabililyor.
ser

0     <class 'set'>
1    <class 'list'>
2    <class 'dict'>
dtype: object

In [31]:
ser[0]([0,1,1,2,5,5,3,4,8,9]) # Pandas series 'in içindeki set(küme) fonksiyonunu çalıştırmış olduk. (Set'lerde aynı değere sahip value'ler tekrarlamaz.) Series içinde bir fnoksiyon çalışırken "()" ihtiyaç duymuyor.

{0, 1, 2, 3, 4, 5, 8, 9}

In [32]:
ser = pd.Series([set, list, dict]) # series içine eklediğimiz print fonksiyonu çalıştırmış olduk. 
pd.Series([sum, print,len])[1]("Hello world")

Hello world

In [33]:
mixdata = ["Edwin", 2, True,10.2] # Pandas tüm data tiplerini koruyarak tutar.
ser = pd.Series(mixdata)
ser

0    Edwin
1        2
2     True
3     10.2
dtype: object

**Pandas Series Attributes & Methods**

In [42]:
ser = pd.Series(np.random.randint(0,100,7)) # random değerlerden pandas series oluşturma
ser

0    58
1    10
2    10
3    34
4    38
5    22
6     8
dtype: int64

In [43]:
len(ser) # Ps(Pandas Series) uzunluğu

7

In [44]:
ser.dtype # Ps veri tipi

dtype('int64')

In [45]:
ser.index # Ps indexler
list(ser.index) # indexleri obje olarak tuttuğu için görebilmek için list fonksiyonunu kullandık.(for döngüsüde kullanabiliriz)

[0, 1, 2, 3, 4, 5, 6]

In [46]:
ser_label = pd.Series(data = [121, 200, 150, 99], index = ["terry", "micheal", "orion", "jason"]) # veri ve index'leri girerek Ps oluşturma
ser_label

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [47]:
ser.values # Ps values

array([58, 10, 10, 34, 38, 22,  8])

In [48]:
ser.items # Ps index ve values sadece görüntüler

<bound method Series.items of 0    58
1    10
2    10
3    34
4    38
5    22
6     8
dtype: int64>

In [49]:
ser.items() # indexleri kullanabilmek için items()  indexleri obje olarak tuttuğu için kullanabilmek ve görebilmek için list ya da for döngüsü kullanabiliriz.

In [50]:
list(ser.items()) # list fonksiyou ile items() method'u oluşan değerleri görebiliyoruz. index ve yanında değeri olan tuple şeklinde

[(0, 58), (1, 10), (2, 10), (3, 34), (4, 38), (5, 22), (6, 8)]

In [ ]:
ser.head() # Ps ilk beş değeri görütüleme.. head() içine yazılan değer kadar gösterir default değer = 5

In [ ]:
ser.tail() # Ps son beş değeri görütüleme.. tail() içine yazılan değer kadar gösterir default değer = 5

In [ ]:
ser.sample(3) # Ps içinden rastgele değerler görüntüleme

In [ ]:
ser.sort_index(ascending =True).head() # Ps index'leri sıralama

In [51]:
ser

0    58
1    10
2    10
3    34
4    38
5    22
6     8
dtype: int64

In [52]:
ser.sort_values(ascending= False).head(3) # Ps index'leri sıralama

0    58
4    38
3    34
dtype: int64

In [53]:
ser1 = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany','RF', 'Japan'])
ser2 = pd.Series([1, 2, 5, 4, 6], index = ['USA', 'Germany','Italy', 'Japan', 'Spain'])
ser1

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

In [54]:
ser1.sort_values() # Ps values'leri sıralama

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

**Ps select**

In [55]:
ser1[0] # python ile aynı şekilde seçim yapma

1

In [56]:
ser1.index.get_loc("Japan") # index (label) ile seçim

3

**Ps slicing**

In [58]:
ser2[2:] # python ile aynı şekilde

Italy    5
Japan    4
Spain    6
dtype: int64

In [59]:
ser2[::-1] # python ile aynı şekilde

Spain      6
Japan      4
Italy      5
Germany    2
USA        1
dtype: int64

In [63]:
ser[[0,2]] # iki ayrı index seçme

terry    121
orion    150
dtype: int64

In [64]:
ser[0:3] # aralık vererek seçme

terry      121
micheal    200
orion      150
dtype: int64

In [65]:
ser["terry" : "orion"] # son index dahil getirdi sayısal indexlerde son index dahil olmaz label indexlerde dahil olur

terry      121
micheal    200
orion      150
dtype: int64

In [67]:
ser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [66]:
ser < 100 # value'ları 100'den küçük olanları True olmayaları False gösterir.

terry      False
micheal    False
orion      False
jason       True
dtype: bool

In [68]:
ser[ser < 100] #  bu şekilde (ser[]) true olan satır ya da satırları getirir

jason    99
dtype: int64

In [70]:
ser[ser < 100] = 100 # jason değeri 99'du. 100 olarak değiştirdik
ser

terry      121
micheal    200
orion      150
jason      100
dtype: int64

In [74]:
"terry" in ser # ser value'ler içinde terry var mı ? varsa True

True

In [72]:
121 in ser # label olmadığı için False

False

In [73]:
121 in ser.values  # value'de aramak için

True

In [75]:
ser.isin([121]) # value değeri 121 olan True, diğerleri False

terry       True
micheal    False
orion      False
jason      False
dtype: bool

In [76]:
ser.isin([121,150]) # value değeri 121 ve 150 olan True, diğerleri False

terry       True
micheal    False
orion       True
jason      False
dtype: bool

In [77]:
ser[ser.isin([121])] # şekilde tüm satır seçilir

terry    121
dtype: int64

In [79]:
ser[ser.isin([121])] = 125 # 121 olan value değerine bu şekilde yeni değer atanır.
ser

terry      125
micheal    200
orion      150
jason      100
dtype: int64

***Ps İşlemler***

In [60]:
a = np.array([3,6,9])
b = np.array([2,4,8,10])

In [ ]:
a+b #array'ler işlem yapabilmek için shapeler eşit olmalı. O nedenle bu toplama işlemi hata verir

In [61]:
ser1 + ser2 # pandas series'lerde shape ler eşit olmasada işlem yapar karşılığı boşsa NaN yapar

Germany    4.0
Italy      NaN
Japan      8.0
RF         NaN
Spain      NaN
USA        2.0
dtype: float64

In [62]:
ser = pd.Series(data = [121, 200, 150, 99], index = ["terry", "micheal", "orion", "jason"])
ser

terry      121
micheal    200
orion      150
jason       99
dtype: int64